.fj-mascot-image{
  right:-10px;
  width:112%;
  height:106%;
}

.fj-request i{
  width:auto;
  min-width:0;
  height:56px;
  padding:0 18px;
  border-radius:999px;
  font-size:14px;
  line-height:1;
  font-weight:900;
  white-space:nowrap;
}

@media(max-width:560px){
  .fj-mascot-image{
    right:-10px;
    width:106%;
    height:101%;
  }

  .fj-request i{
    width:auto;
    height:50px;
    padding:0 13px;
    font-size:12px;
  }
}
