.fj-mascot-image{
  right:-2px;
  width:auto;
  height:90%;
  max-width:243px;
}

.fj-request i{
  width:auto;
  min-width:0;
  height:56px;
  padding:0 18px;
  border-radius:999px;
  font-size:14px;
  line-height:1;
  font-weight:900;
  white-space:nowrap;
}

@media(max-width:560px){
  .fj-mascot-image{
    right:-2px;
    width:auto;
    height:90%;
    max-width:198px;
  }

  .fj-request i{
    width:auto;
    height:50px;
    padding:0 13px;
    font-size:12px;
  }
}
